<div style="height: 100vh;" class=" flex justify-center items-center p-5 bg-slate-900">
    <div class="rounded-lg  h-auto  w-80 p-5 bg-slate-50">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
            <p class="text-2xl font-bold " style="text-align: center;">Sign Up</p>
            <div class="form_control">
                <input type="Full Name" class="form-input w-full rounded-full" placeholder="Full Name"
                    formControlName="full_name">
            </div>
            <div class="form_control">
                <input type="number" class="form-input w-full rounded-full" placeholder="Mobile"
                    formControlName="phone">
            </div>
            <div class="form_control">
                <input type="email" class="form-input w-full rounded-full" placeholder="Enter Email"
                    formControlName="email">
            </div>
            <div class="form_control">
                <input type="password" class="form-input w-full rounded-full" placeholder="Enter password"
                    formControlName="password">
            </div>
            <div class="form_control">
                <input type="email" class="form-input w-full rounded-full" placeholder="Admin Email"
                    formControlName="admin_email">
            </div>
            <div class="form_control">
                <button [disabled]="loginForm.invalid" type="submit" class="bg-sky-600  rounded-full button_primary">Register</button>
            </div>
            <div>
                <input type="checkbox" class="form-checkbox rounded text-pink-500" /> Remember me
            </div>
            <a class="text-blue-400 underline  redirect" routerLink="/login">login</a>
        </form>
    </div>
</div>