

<div class="relative overflow-x-auto shadow-md sm:rounded-lg" style="    max-height: 99% !important;overflow-y: scroll;">
 
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Phone
                </th>
                <th scope="col" class="px-6 py-3">
                    Role
                </th>
                <th scope="col" class="px-6 py-3">
                    Active
                </th>
                <th scope="col" class="px-6 py-3">
                    Status
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @for(u of allUsers; track u){
                
            <tr  class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                
                <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4H1m3 4H1m3 4H1m3 4H1m6.071.286a3.429 3.429 0 1 1 6.858 0M4 1h12a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1Zm9 6.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z"/>
                    </svg>
                    <div class="ps-3">
                        <div class="text-base font-semibold">{{u.full_name}} @if(userId == u._id){<span class="text-green-500">(You)</span>}</div>
                        <div class="font-normal text-gray-500">{{u.email}}</div>
                    </div>  
                </th>
                <td class="px-6 py-4">
                    {{u.phone}}
                </td>
                <td class="px-6 py-4 uppercase ">
                    {{u.role}}
                </td>
                <td class="px-6 py-4">
                    @if(u.is_active){
                        <div class="flex items-center">
                            <div class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div> Active
                        </div>
                    }@else{
                        <div class="flex items-center">
                            <div class="h-2.5 w-2.5 rounded-full bg-red-500 me-2"></div> Draft
                        </div>
                    }
                </td>
                <td class="px-6 py-4">
                    @if(u.isDeletedPartial){
                        -
                    }@else{
                        <button class="rounded-full bg-amber-200 text-rose-950 px-2"> Partial Delete</button>
                        
                    }
                </td>
                <td class="px-6 py-4">
                    <a routerLink="/bk/permission/{{u._id}}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit user</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
