@import "ngx-toastr/toastr";
@tailwind base;
@tailwind components;
@tailwind utilities;


.button_primary{
        width: 100%;
        padding: 10px;
        color: white;
}
.form_control {
    margin: 15px 0px;
}
.redirect{
        text-align: right;
        display: block;
}